.breadcrumbs {
  padding: 24px 0;
  display: flex;
  overflow: hidden;
}

.breadcrumbs__link {
  white-space: nowrap;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  transition: color var(--timing-function);

  &::after {
    content: " /";
  }

  &:hover,
  &:focus {
    color: var(--active-link-color);
    &::after {
      color: var(--secondary-text-color);
    }
  }
}

.breadcrumbs__link--active {
  pointer-events: none;
  cursor: initial;
  &::after {
    content: "";
  }
}

.article__date {
  font-size: 14px;
  margin-bottom: 22px;
}

.article__rating {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .mob-d-none {
    display: none !important;
  }

  .article__stat {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .desk-d-none {
    display: none !important;
  }

  .breadcrumbs {
    padding: 48px 0 56px;
    display: flex;
    overflow: hidden;
  }

  .article__stat {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .article__date {
    margin: 0;
  }
}
