:root {
  --primary-font: "IBM Plex Sans", sans-serif;
  --secondary-font: "Black Han Sans", sans-serif;
  --tertiary-font: Rajdhani, sans-serif;

  --primary-text-color: #000000;
  --secondary-text-color: #4e4e4e;
  --active-link-color: #4aa7f0;
  --author-bcg-color: rgba(78, 78, 78, 0.1);
  --title-link-hover: #337ab7;
  --decor-gray: #c4c4c4;
  --gray-bacground: rgba(196, 196, 196, 0.2);
  --decor-bg-gray: #f7f8f9;
  --light-pink-color: #ffecec;
  --white-color: #ffffff;
  --tag-color-bacground: rgba(74, 167, 240, 0.2);

  --green-text-color: #4db058;

  --timing-function: 200ms cubic-bezier(0.4, 0, 0.2, 1);

  --star-bcg: rgba(78, 78, 78, 1);
  --star-hover: #ffdead;
  --star-focus: #ffba00;
}
